html, body, div, h1, h2, h3, h4, h5, h6, p,img {
max-width: 1600px;  height:100%;
}

#background {
	background: skyblue;
	width: 80%;
	height: auto; 
	margin: auto;
	padding: 15%;

}

#words {
	width: 90%;
	height: auto;
	background: rebeccapurple;
	margin: auto;
	padding: 3%;

}

#top {
	width: 40%;
	height: auto;
	background: springgreen;
	margin: auto;
	padding: 10%;
	margin-bottom: 20px;

}

#image {
	width: 100%;
}

p {
	color: lavenderblush;
	font-size: 12px;
	line-height: 16px;

}








